<div class="section-show">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.0),rgba(0,0,0,0)), url(https://66.media.tumblr.com/6f6991f083e275199576b9fc0f02cdcc/tumblr_p18x9pxKdH1u9ooogo1_540.gif);">
    <div class="container">
      <h1>Misty cocktail brings <strong>amazing cocktails</strong> from <strong>fine ingredients</strong>!</h1>
      <p>Change your life.</p>
      <%= link_to 'Add a cocktail', new_cocktail_path, class: "btn btn-outline-light my-2 my-sm-0" %>
    </div>
  </div>
</div>


<div class="section-show">
  <div class="cards-home-cocktail">
    <% @cocktails.each do |cocktail| %>
      <%= link_to cocktail_path(cocktail) do %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/1600x900/?cocktail&rand=<%= rand( 9999) %>)">
        <%= cocktail.name %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

