// Specific CSS for your home-page
body {
background: #F8F3F0;  /* fallback for old browsers */
font-family: 'Livvic', sans-serif;
display: flex;
flex-direction: column;
height: 100vh;
}

.section-show {
  flex: 1 0 auto;
}
